META_WHATSAPP_TOKEN=your_permanent_access_token_here
META_PHONE_NUMBER_ID=your_phone_number_id_here
META_WHATSAPP_BUSINESS_ACCOUNT_ID=your_business_account_id_here
OWNER_WHATSAPP_NUMBER=919XXXXXXXXX
PORT=3000
